<h1>{{ recipe.title }}</h1>
<p>Difficulté : {{ recipe.difficulty.label }}, durée : {{ recipe.duration }} minutes.</p>
<img class="recipe-img" src="{{ recipe.image }}" alt="{{ recipe.title }}">
<h2>Ingrédients</h2>
<ul>
    {% for ingredient in recipe.ingredientQuantities %}
    <li>{{ingredient.ingredient.label}}</li>
    {% endfor %}
</ul>
<h2>Recette</h2>
<ol>
    {% for step in recipe.steps %}
    <li>
        <h3>{{step.title}}</h3>
        <p>{{step.content}}</p>
    </li>
    {% endfor %}
</ol>
<p>Recette de <a href="{{ path('app_recipe_user', {user: recipe.author.id}) }}">{{ recipe.author.username }}</a>.</p>

{% include "components/comment.html.twig" %}