{% extends 'admin-base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block main %}
<h1>Comment index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Contenu</th>
            <th>User</th>
            <th>Recette</th>
            <th>Created_at</th>
            <th>Updated_at</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for comment in comments %}
        <tr>
            <td>{{ comment.id }}</td>
            <td>{{ comment.content }}</td>
            <td>{{ comment.user.username }}</td>
            <td>{{ comment.recipe.title }}</td>
            <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ comment.updatedAt ? comment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>
                <a href="{{ path('app_admin_recipe_show', {'id': comment.recipe.id}) }}">Voir la recette liée</a>
                <a href="{{ path('app_admin_comment_delete', {'id': comment.id}) }}">Supprimer</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}